
<div class="footer  text-black text-center ">
    <div class="container">
        <p>&copy; 2024 KitchenWhiz. All Rights Reserved.</p>
        <p>
            <a routerLink="/privacy-policy" class="text-black">Privacy Policy</a> | 
            <a routerLink="terms" class="text-black">Terms of Service</a>
          </p>
          <div class="social-links">
            <a href="https://facebook.com"  target="_blank" class="text-black p-3"  >
                <i class="fa-brands fa-facebook"></i> 
            </a>
            <a href="https://twitter.com" target="_blank" class="text-black p-3"  >
                <i class="fa-brands fa-twitter"></i>  
            </a>
            <a href="https://youtube.com" target="_blank" class="text-black p-3">
                <i class="fa-brands fa-youtube"></i> 
            </a>
        </div>
        </div>
</div>