

<app-container></app-container>
<div class="container">

  
    <p style="text-align: center;color: bluevioletz;">Discover your favorite recipes and manage them all in one place.</p>
    <div class="quick-links d-flex ">
       
        <a routerLink="explrecipe">ExploreRecipes</a>
        <a routerLink="add-recipe">AddYourRecipe</a>
        <a routerLink="featured-recipes">SeeFeaturedRecipes</a>
      
    </div>
  </div>
  <!-- <div class="container">
    <app-explrecipe></app-explrecipe>
  </div> -->
  
